---
- name: Install Dynatrace Operator
  hosts: localhost
  connection: local

  vars:
    dt_operator_version: "v0.6.0"

  vars_prompt:

    - name: dt_cluster_name
      prompt: What is your DT environment (Cluster must match the pattern [a-z]([-a-z0-9]*[a-z0-9]))?
      private: false

    - name: dt_api_token
      prompt: What is your DT API token?
      private: false
    
    - name: dt_tenant
      prompt: What is your DT environment (no trailing slash eg. https://abc12345.live.dynatrace.com)?
      private: false


  tasks:

  - name: "Set cluster name in dynakube.yaml"
    ansible.builtin.replace:
      path: "~/dynakube.yaml"
      regexp: "CLUSTER_NAME"
      replace: "{{ dt_cluster_name }}"

  - name: "Set DT API Token in dynakube.yaml"
    ansible.builtin.replace:
      path: "~/dynakube.yaml"
      regexp: "DT_API_TOKEN"
      replace: "{{ dt_api_token }}"

  - name: "Set DT Tenant in dynakube.yaml"
    ansible.builtin.replace:
      path: "~/dynakube.yaml"
      regexp: "DT_TENANT"
      replace: "{{ dt_tenant }}"

  - name: "Create dynatrace namespace"
    ansible.builtin.shell:
      cmd: "kubectl create namespace dynatrace"

  - name: "Apply Dynatrace Operator"
    ansible.builtin.shell:
      cmd: "kubectl apply -f https://github.com/Dynatrace/dynatrace-operator/releases/download/{{ dt_operator_version }}/kubernetes.yaml"

  - name: "Wait for all Dynatrace pods (timeout 5 mins)"
    ansible.builtin.shell:
      cmd: "kubectl -n dynatrace wait pod --for=condition=ready --selector=app.kubernetes.io/name=dynatrace-operator,app.kubernetes.io/component=webhook --timeout=300s"

  - name: "Apply DynaKube CRDs"
    ansible.builtin.shell:
      cmd: "kubectl apply -f ~/scripts/dynakube.yaml"

  